<section id="hero">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-4 hero-img-left">
				<div class="hero-content">
					<h2>Healthy Planet</h2>
					<p>Local food production is also local distribution. Ensuring a smaller footprint on transporation and better practices on the land.</p>
				</div>
			</div>

			<div class="col-md-4 hero-img-mid">
				<div class="hero-content">
					<h2>Healthy Food</h2>
					<p>Local produce is little to no processing or preserving, so all flavor and vitamins stay rich, vibrant and nutritious.</p>
				</div>
			</div>

			<div class="col-md-4 hero-img-right">
				<div class="hero-content">
					<h2>Healthy Communities</h2>
					<p>Buying your food from local growers contributes to a stronger local economy, so all community members can live a higher quality of life.</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="action-row">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="home-action">
					<h3>Community Supported Agriculture (CSA) is a way for consumers to buy local, seasonal produce directly from a farmer in their community.</h3>
					<button class="btn btn-lg btn-danger"><%= link_to 'Find Your CSA' %></button>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="explained">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>How It Works</h1>
			</div>
		</div>

		<div class="col-md-4">
			<br>
			<h2><i class="glyphicon glyphicon-search"></i> Find a CSA</h2>
			<p>Use Tomato to look at all the Community Agruculture Shares available to you in your area. It is easy. <a href="">Click here</a> to view all the CSA's to choose from! Search by content, location, farm practice, length of season, or produce variety. </p>
		</div>

		<div class="col-md-4">
			<br>
			<h2><i class="glyphicon glyphicon-pencil"></i> Sign Up!</h2>
			<p>When you find the perfect CSA offered by a great farm add to your basket. Check out and provide the necessary details to the farm like your preferred pick-up location or share size. The form is easy and you can pay for your share online... it goes right to the farm!</p>
		</div>

		<div class="col-md-4">
			<br>
			<h2><i class="glyphicon glyphicon-apple"></i> Pick up your Share!</h2>
			<p>Every farm has different features they offer. Often you will find that farms will deliver CSAs to farmer's markets or other venues each week. Pick it up and start cooking! Enjoy.</p>
		</div>
	</div>
</section>