<h1>Find a CSA!</h1>

<h3>You can search shares in the area by different requests.</h3>

<% content_for :search do %>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= search_form_for @search do |f| %>
				<%= f.text_field :contents_cont, class: "radius-left expand", placeholder: "Contains this type of Produce" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<% f.submit "Find a CSA", class: "btn btn-lg btn-danger" %>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>