// Place all the styles related to the Boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box-listing {
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	background-color: #eee;
	margin-bottom: 25px;
}